h1{
    text-align: center;
}

/*PAGE*/
.root{
    display: flex;
    flex-direction: column;
}
.table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*HEADER */
header {
    display: flex;
    width: 100%;
    color: black;
}

.inHeader {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.names {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-self: center;
    justify-content: flex-start;
}
.login{
    display: flex;
    width: 20%;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
}
.names a {
    margin: 2%;
}
.login a{
    margin: 6%;
}
/*FOOTER */
footer p {
    color: lightgray;
}
footer {
    display: flex;
    justify-content: space-around;
    padding: 3px;
    background-color: royalblue;
    color: white;
    margin-top: 10%;
}